<div class="container-fluid mx-0 px-3">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand">Message Report</a>
    </nav>
</div>

<main class="container-fluid px-4">
    <div class="card mb-4">
        <div class="card-header">
            <i class="bi bi-house-door me-1"></i>Tracking
        </div>
        <div class="card-body">
            <b>Tracking id: </b>{{ messageReportPage?.trackingId }}<br>
            <b>Datetime: </b>{{ getDateTimeFormat(messageReportPage?.dateTime) }}<br>
            <b>User: </b>{{ messageReportPage?.userNameAndRole }}<br>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <i class="bi bi-table me-1"></i>Messages
        </div>
        <div class="card-body">
            <div class="card-body">
                <div *ngFor="let m of messageReportPage?.messageRecordList">
                    <b>Date, time: </b>{{ getDateTimeFormat(m?.dateTime) }}<br>
                    <b>Hotel: </b>{{ m?.hotelName }}<br>
                    <b>Status: </b>{{ m?.isSuccessful ? 'SUCCESS' : 'FAIL' }}<br>
                    <div *ngFor="let a of m?.actionList">
                        <span [style.color]="getActionColor(a?.actionColor)">{{ a?.actionText }}</span>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</main>
